<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>net.breathgslb</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/breathgslb</string>
        <string>-config</string>
        <string>/usr/local/etc/breathgslb/config.yaml</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>UserName</key>
    <string>breathgslb</string>
    <key>GroupName</key>
    <string>breathgslb</string>
    <key>StandardOutPath</key>
    <string>/var/log/breathgslb.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/breathgslb.log</string>
</dict>
</plist>
